/*violet*/
/*rose*/
/*bleu*/
/*blanc*/
body #bloc_page {
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  /*color: black;*/
}

main {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

body {
  font-family: "Roboto", "arial", sans-serif;
  color: #181818;
  width: auto;
}

#explore__button {
  height: 50px;
  width: 210px;
  text-align: center;
  color: white;
  line-height: 50px;
  border-bottom-style: hidden;
  background-color: #FF79DA;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
}

.fonctionnement__button {
  padding-left: 15px;
  padding-right: 15px;
}
.fonctionnement__button i {
  color: #c1c1c1;
}
.fonctionnement__button .icone {
  margin-left: 10px;
  margin-right: 10px;
}
.fonctionnement__button span {
  height: 22px;
  width: 22px;
  text-align: center;
  line-height: 22px;
  border-bottom-style: hidden;
  background-color: #9356DC;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  left: -12px;
  top: 14px;
  color: white;
  font-size: 0.8em;
}

nav li {
  height: 50px;
  width: auto;
  text-align: center;
  color: black;
  line-height: 50px;
  border-bottom-style: hidden;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-style: hidden;
  margin-bottom: 20px;
  box-shadow: 4px 10px 8px #c1c1c1;
  position: relative;
  background-color: #F6F6F6;
}

.restaurants {
  width: 85%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 10px 8px #c1c1c1;
  margin-bottom: 30px;
}
.restaurants img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .description {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}
.restaurants .description h3 {
  color: black;
  margin-bottom: 10px;
}
.restaurants .description p {
  color: black;
}
.restaurants .description .far.fa-heart {
  position: absolute;
  font-size: 1.5em;
  color: black;
  top: 10px;
  right: 50px;
}
.restaurants .description .far.fa-heart:hover {
  opacity: 0;
}
.restaurants .description .fas.fa-heart {
  opacity: 0;
  position: absolute;
  font-size: 1.5em;
  top: 10px;
  right: 50px;
}
.restaurants .description .fas.fa-heart:hover {
  opacity: 1;
  color: linear-gradient(#9356DC, #FF79DA);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header #logo {
  width: 160px;
  background-color: white;
}
header #title {
  width: 100%;
  background-color: #EAEAEA;
}
header #title p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
}
header #title p i {
  margin-right: 10px;
}
header #explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 20px;
}
header #explore h2 {
  text-align: center;
  font-size: 2em;
}
header #explore p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  /*padding-left: 20px;
  padding-right: 20px;*/
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header nav ul a {
  display: flex;
  font-size: 1.2em;
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #353535;
  padding-left: 15px;
}
footer h3 {
  color: white;
  font-size: 1.2em;
  font-family: "Shrikhand", "arial", "sans-serif";
  margin-bottom: 5px;
  margin-top: 10px;
}
footer ul {
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li i {
  margin-right: 7px;
}
footer ul li a {
  color: white;
  font-size: 1em;
}

/*# sourceMappingURL=main.css.map */
