/*violet*/
/*rose*/
/*bleu*/
/*blanc*/
/*-- animation selection de plat --*/
main a .dishes {
  display: flex;
  justify-content: space-between;
}
main a .dishes:hover .icone-animation {
  transform: scaleX(1);
}
main a .dishes:hover .icone-animation .fas.fa-check-circle {
  transform: rotate(0deg);
}
main a .dishes:hover .description {
  width: 80%;
}
main a .dishes:hover .description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main a .dishes .description {
  position: relative;
  transform-origin: left;
  width: 100%;
  transition: width 400ms;
}
main a .dishes .description .prix {
  position: absolute;
  top: 51px;
  right: -24px;
}
main a .dishes .icone-animation {
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 400ms;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /*text-overflow: hidden;*/
}
main a .dishes .icone-animation .fas.fa-check-circle {
  transform: rotate(-180deg);
  transition: transform 600ms;
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 80px;
}

/*-- animation menu qui apparaissent --*/
.dishes {
  animation: apparition 1000ms;
}
.dishes--1 {
  animation-delay: 3150ms;
}
.dishes--2 {
  animation-delay: 3300ms;
}
.dishes--3 {
  animation-delay: 3450ms;
}
.dishes--4 {
  animation-delay: 3600ms;
}
.dishes--5 {
  animation-delay: 3750ms;
}
.dishes--6 {
  animation-delay: 3900ms;
}
.dishes--7 {
  animation-delay: 4050ms;
}
.dishes--8 {
  animation-delay: 4200ms;
}
.dishes--9 {
  animation-delay: 4350ms;
}
.dishes--10 {
  animation-delay: 4500ms;
}
.dishes--11 {
  animation-delay: 4650ms;
}
.dishes--12 {
  animation-delay: 4800ms;
}

@keyframes apparition {
  0% {
    transform: translate(0px, 10px);
    opacity: 0.1;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/*-- spinner --*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -999 !important;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#bloc_page {
  background-color: white;
  z-index: -99 !important;
  position: relative;
  visibility: hidden;
  animation: spinner ease-out;
  animation-delay: 3s;
  animation-duration: 100ms;
  animation-fill-mode: both;
}

@keyframes spinner {
  to {
    visibility: visible;
  }
}
body #bloc_page {
  /*max-width: $break-small;*/
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 426px) and (max-width: 1023px) {
  body #bloc_page nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  body #bloc_page nav ul li {
    height: 80px;
    width: auto;
    text-align: center;
    color: black;
    line-height: 80px;
    border-bottom-style: hidden;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 20px;
  }
  body #bloc_page nav ul li a span {
    top: 0px;
  }
  body #bloc_page nav ul li a .icone {
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 23px;
    left: 96px;
  }
}
@media only screen and (min-width: 1024px) {
  body #bloc_page #bloc_page {
    max-width: 1440px;
  }
  body #bloc_page nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  body #bloc_page nav ul li {
    height: 80px;
    width: auto;
    text-align: center;
    color: black;
    line-height: 80px;
    border-bottom-style: hidden;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 20px;
  }
  body #bloc_page nav ul li a span {
    top: 0px;
  }
  body #bloc_page nav ul li a .icone {
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    top: 23px;
    left: 96px;
  }
  body #bloc_page main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
  }
  body #bloc_page main h2 {
    position: absolute;
    top: 570px;
  }
  body #bloc_page main .restaurants {
    width: 85%;
    margin-left: 25px;
  }
  body #bloc_page .subpage h1 {
    position: absolute;
    top: -200px;
    left: 10px;
  }
  body #bloc_page .subpage .far.fa-heart {
    font-size: 4.5em;
    top: -75px;
    right: 103px;
  }
  body #bloc_page .subpage h2 {
    top: -40px;
  }
  body #bloc_page .subpage .underline {
    top: -9px;
  }
  body #bloc_page .subpage .dishes {
    width: 85%;
  }
  body #bloc_page .subpage #shop {
    position: absolute;
    left: 10px;
    top: 572px;
  }
}
body ul {
  list-style-type: none;
}
body a {
  text-decoration: none;
  /*color: black;*/
}

main {
  background-color: #F6F6F6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subpage {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-bottom: 80px;
  width: 100%;
}
.subpage #title-container {
  width: 80%;
  position: relative;
}
.subpage #title-container .far.fa-heart {
  position: absolute;
  font-size: 1.5em;
  color: black;
  top: 20px;
  right: 10px;
}
.subpage #title-container .far.fa-heart:hover {
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.subpage #starter,
.subpage #main-dish,
.subpage #dessert {
  width: 90%;
}

html {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

body {
  font-family: "Roboto", "arial", sans-serif;
  color: #181818;
  width: auto;
}

.subpage h1 {
  font-family: "Shrikhand", "arial", "sans-serif";
  font-size: 1.5em;
  /*text-align: left;*/
}
.subpage h2 {
  font-size: 1em;
}

#starter,
#main-dish,
#dessert {
  position: relative;
}
#starter .underline,
#main-dish .underline,
#dessert .underline {
  border-top: solid #99E2D0 4px;
  width: 10%;
  position: absolute;
  top: 35px;
}

#explore__button {
  height: 50px;
  width: 210px;
  text-align: center;
  color: white;
  line-height: 50px;
  border-bottom-style: hidden;
  background-color: #FF79DA;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
}

.fonctionnement__button {
  padding-left: 15px;
  padding-right: 15px;
}
.fonctionnement__button i {
  color: #c1c1c1;
}
.fonctionnement__button .icone {
  margin-left: 10px;
  margin-right: 10px;
}
.fonctionnement__button span {
  height: 22px;
  width: 22px;
  text-align: center;
  line-height: 22px;
  border-bottom-style: hidden;
  background-color: #9356DC;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  left: -12px;
  top: 14px;
  color: white;
  font-size: 0.8em;
}

nav li {
  height: 50px;
  width: auto;
  text-align: center;
  color: black;
  line-height: 50px;
  border-bottom-style: hidden;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-style: hidden;
  margin-bottom: 20px;
  box-shadow: 4px 10px 8px #c1c1c1;
  position: relative;
  background-color: #F6F6F6;
  font-size: 0.9em;
}
nav li:hover {
  background-color: white;
  box-shadow: 6px 12px 8px #c1c1c1;
}

.dishes {
  height: 80px;
  width: 100%;
  text-align: center;
  color: black;
  line-height: 13px;
  border-bottom-style: hidden;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-style: hidden;
  margin-bottom: 20px;
  box-shadow: 4px 10px 8px #c1c1c1;
  background-color: white;
  text-align: start;
  padding-left: 10px;
  /* .description {
         margin-top: 10px;
         margin-bottom: 10px;



     }*/
}
.dishes a {
  color: black;
}
.dishes a h3 {
  font-size: 1em;
}
.dishes a p {
  margin-top: 0px;
}

#shop {
  height: 50px;
  width: 200px;
  text-align: center;
  color: white;
  line-height: 50px;
  border-bottom-style: hidden;
  background-color: #FF79DA;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  margin-top: 50px;
}
#shop a {
  color: white;
}

main {
  width: 100%;
}
main a {
  width: 85%;
}

.restaurants {
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 10px 8px #c1c1c1;
  margin-bottom: 30px;
  position: relative;
}
.restaurants img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  padding: 5px;
  font-weight: bold;
  color: lightseagreen;
}
.restaurants .description {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}
.restaurants .description h3 {
  color: black;
  margin-bottom: 10px;
}
.restaurants .description p {
  color: black;
}
.restaurants .description .far.fa-heart {
  position: absolute;
  font-size: 1.5em;
  color: black;
  top: 25px;
  right: 20px;
}
.restaurants .description .far.fa-heart:hover {
  font-weight: bold;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
header .arrow {
  color: black;
  position: absolute;
  font-size: 1.5em;
  top: 10px;
  left: 45px;
}
header #logo {
  width: 160px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .main-img {
  object-fit: cover;
  width: 100%;
  height: 315px;
  margin-bottom: -50px !important;
  position: relative;
  z-index: -1 !important;
}
header #title {
  width: 100%;
  background-color: #EAEAEA;
}
header #title p {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.2em;
}
header #title p i {
  margin-right: 10px;
}
header #explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 20px;
}
header #explore h2 {
  text-align: center;
  font-size: 2em;
}
header #explore p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 30px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  /*padding-left: 20px;
  padding-right: 20px;*/
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
header nav ul a {
  display: flex;
  font-size: 1.2em;
  color: black;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #353535;
  padding-left: 15px;
}
footer h3 {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Shrikhand", "arial", "sans-serif";
  margin-bottom: 5px;
  margin-top: 10px;
}
footer ul {
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li i {
  margin-right: 7px;
}
footer ul li a {
  color: white;
  font-size: 1em;
}

/*# sourceMappingURL=main.css.map */
