// reponsive
$break-small: 425px;
$break-large: 1024px;

@mixin respond-to($media) {
    @if $media==handhelds {
        @media only screen and (max-width: $break-small) {
            @content;
        }
    }

    @else if $media==medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
            @content;

            nav {
                ul {
                    @include flex (row);

                    li {
                        @include button (80px, auto, black, white, 15px, 80px);
                        margin-right: 20px;

                        a {
                            span {
                                top: 0px;
                            }

                            .icone {
                                margin-left: 0px;
                                margin-right: 0px;
                                position: absolute;
                                top: 23px;
                                left: 96px;
                            }
                        }
                    }
                }
            }
        }
    }

    @else if $media==wide-screens {
        @media only screen and (min-width: $break-large) {
            @content;

            nav {
                ul {
                    @include flex (row);

                    li {
                        @include button (80px, auto, black, white, 15px, 80px);
                        margin-right: 20px;

                        a {
                            span {
                                top: 0px;
                            }

                            .icone {
                                margin-left: 0px;
                                margin-right: 0px;
                                position: absolute;
                                top: 23px;
                                left: 96px;
                            }
                        }
                    }
                }
            }

            main {
                @include flex (row);
                justify-content: space-around;
                padding-top: 50px;

                h2 {
                    position: absolute;
                    top: 570px;
                }

                .restaurants {
                    width: 85%;
                    margin-left: 25px;
                }
            }

            .subpage {

                h1 {
                    position: absolute;
                    top: -200px;
                    left: 10px;
                }

                .far.fa-heart {
                    font-size: 4.5em;
                    top: -75px;
                    right: 53%;
                }

                h2 {
                    top: -40px;
                }

                .underline {
                    top: -9px;
                }

                .dishes {
                    width: 85%;

                    .description {
                        overflow: auto;
                        overflow-x: hidden;

                        .prix {
                            top: 95px;
                            left: 0px;
                        }
                    }
                }

                #shop {
                    position: absolute;
                    left: 1%;
                    top: 300px;
                }
            }
        }
    }
}

@mixin flex ($direction, $align:false) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: $direction;
    flex-direction: $direction;

    @if $align {
        -webkit-box-align: $align;
        -ms-flex-align: $align;
        align-items: $align;
    }
}

@mixin button ($height, $width, $color, $background-color, $radius, $line-height) {
    height: $height;
    width: $width;
    text-align: center;
    color: $color;
    line-height: $line-height;
    border-bottom-style: hidden;
    background-color: $background-color;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}
