header {
    @include respond-to ("handhelds") {
        @include flex (column, center);


        #title {
            @include flex (column, center);

            #logo {
                width: 120px;
                background-color: white;
            }

            p {
                width: 320px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background-color: #F2F2F2;
                font-size: 1.2em;
            }
        }

        #explore {
            @include flex (column, center);

            background-color: #F2F2F2;

            h2 {
                text-align: center;
                font-size: 2em;
            }

            p {
                text-align: center;
                font-size: 1.2em;
            }
        }

        nav {
            @include flex (column, center);

            ul {
                @include flex (column);

                a {
                    font-size: 1.2em;
                }
            }
        }
    }
}
