header {

    @include flex (column, center);
    position: relative;
    
    .arrow {
        color: black;
        position: absolute;
        font-size: 1.5em;
        top: 10px;
        left: 45px;
    }

    #logo {
        width: 160px;
        background-color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .main-img {
        object-fit: cover;
        width: 100%;
        height: 315px;
        margin-bottom: -50px !important;
        position: relative;
        z-index: -1 !important; 
    }


    #title {
        width: 100%;
        background-color: #EAEAEA;


        p {
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 1.2em;

            i {
                margin-right: 10px;
            }
        }

    }

    #explore {
        @include flex (column, center);

        background-color: #F6F6F6;
        width: 100%;
        padding-bottom: 20px;
        
        h2 {
            text-align: center;
            font-size: 2em;
        }

        p {
            text-align: center;
            font-size: 1.2em;
            margin-bottom: 30px;
        }

    }

    nav {
        @include flex (column, center);
        width: 100%;
        /*padding-left: 20px;
        padding-right: 20px;*/

        ul {
            @include flex (column);
            
            a {
                display: flex;
                font-size: 1.2em;
                color: black;
            }
        }
    }

}
