body {

    #bloc_page {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        /*color: black;*/
    }
}

main {
    background-color: #F6F6F6;
    @include flex (column, center);
}

.subpage {
    background-color: #F6F6F6;
    @include flex (column);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 80px;
}
