body {

    #bloc_page {
        /*max-width: $break-small;*/
        margin-left: auto;
        margin-right: auto;
        @include respond-to (handhelds);
        @include respond-to (medium-screens);
        @include respond-to (wide-screens);
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        /*color: black;*/
    }
}

main {
    background-color: #F6F6F6;
    @include flex (column, center);
}

.subpage {
    background-color: #F6F6F6;
    @include flex (column);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-bottom: 80px;
    width: 100%;
    #title-container {
      width: 80%;
        position: relative;
        .far.fa-heart {
            position: absolute;
            font-size: 1.5em;
            color: black;
            top: 20px;
            right: 10px;
            &:hover {
                font-weight: bold;
                background: linear-gradient(#9356DC, #FF79DA);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }

        } 
    }
    #starter,
    #main-dish,
    #dessert {
        width: 100%;
    }
}
